body {
	background : #e6ecf0;
}

strong > button {
	background: transparent;
	border: none;
	color: black;
}

#logo {
	margin: 2% auto;
	display: block;
	width: 200px;
}



.tweet {
	font-family: "Helvetica Neue";
	text-align: center;
	background : whitesmoke;
	border-bottom: 1px solid #e6ecf0;
	width: 40%;
	margin: 0% 30%;
	padding: 0.25% 0%;
	color: grey;

}

.navbar {
	padding: 0% 10%;
}

.navbar-header {
	text-align: center;
}

.verified {
	width: 25px;
}

#table {
	text-align: center;
}
